$color-main: #2c3e50;
$color-light: #ffffff;
$color-gold: #FFD700;
$color-grey: #808385;
body {
    text-align: center;
}
.container {
    max-width: 80%;
    p {
        color: #808385;
    }
}
.btn {
    background-color: $color-gold; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
 .navbar {
    display: flex;
    /*align-items: center;*/
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    .flex {
        display: flex;
        position: relative;
    }
    img {
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .navbar-brand {
        margin: 40px 60px;
        color: $color-gold;
        font-size: xx-large;
        font-weight: 900;
    }
    ul {
        list-style-type: none;
    }
    .nav-link {
        display: block;
        padding: 20px 20px;
        color: $color-light;
        text-decoration: none;
    }
    .box {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 10em;


    }
}
.title {
    font-size: 46px;
}
.p-title {
    margin-top: -25px;
    font-style: italic;
}
.services {
    .box {
        margin: 20px 0;
        text-align: center;
        i {
            color: $color-gold;
            font-size: 36px;
        }
    }
}
.portfolio {
    position: relative;
    .box {
        position: relative;
        display: flex;
    }
    .portfolio-image {
        position: absolute;
        max-width: 300px;
        min-height: 300px;
        width: 80%;
        height: 80%;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }
}